tr.highlight td {
  background-color: darkgray;
}

/**This is to prevent bootstrap navbar from cutting top content**/

body {
  padding-top: 60px;
}

.help-block {
  font-weight: normal;
}

.form-horizontal {
  padding: 20px;
  max-width: 500px;
  margin: auto;
}

.form-inline {
  max-width: 300px;
}

